.tab-main-container{
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: auto;
    padding: 50px;
    border-radius: 30px;
    border: 10px solid black;
    box-shadow: 20px 20px 20px black;
    
}
.Shop-by-category{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: rgb(24, 10, 10);

    margin-top: 200px;
    margin-bottom: 100px;


}
.tab-sub-category{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 24px;
}
.tab-card{
    
    width: 18rem;
    padding: 0;

    box-shadow: 10px 10px 10px black  ;

    

    
}
.tap-card-img{
    width: 100%;
    height: 300px;
    padding: 20px;
}
.tab-title{

    font-size: 24px;
    font-weight: 500;

}

.tab-card-span{
    font-weight: 500;
}

.tab-card-button{

    width: 100%;
    background-color: black;
    color: white;
    font-weight: 500;
    border: none;
}
.tab-card-button:hover{

    
    background-color: rgb(46, 15, 15);
}



@media only screen and (max-width: 380px) {
    .tab-card {
     width: 100% !important;

     
    
    }

   
  }