.home-gallery-container{
   
    border-radius: 10px;

    width: 18rem;
    margin-top: 10px;
    border: 7px solid rgb(14, 29, 59);
    box-shadow: 10px 10px 10px black;

}

.home-gallery-img{

    width: 100%;
    height: 100%;
    border-radius: 50%;
}