

.my-toys-table-container{

   border: 3px solid rgba(0, 0, 0, 0.226);
   width: 90%;
   margin: auto;

}

.high-to-container{

    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 100px;


}
.high-button{

 padding: 10px ;
 color: white;
 background-color: rgba(0, 0, 255, 0.795);
 border: none;
 font-size: 18px;
 font-weight: 500;
 border-radius: 10px;


}
.high-button:hover{
    background-color: rgba(11, 11, 77, 0.795);;
}


.low-button{

 padding: 10px ;
 color: white;
 background-color: rgba(255, 153, 0, 0.747);
 border: none;
 font-size: 18px;
 font-weight: 500;
 border-radius: 10px;


}

.low-button:hover{
    background-color: rgba(90, 58, 11, 0.904);
}



.my-toys-img{

    width: 100%;
    height: 100%;
   
}






.my-toys-delete-button{

    width: 100%;
    margin-top: 10px;
    color: white;
   background-color: brown;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.my-toys-update-button{

    width: 100%;
    margin-top: 10px;
    color: white;
  background-color: rgb(32, 50, 99);
    padding: 10px;
    border: none;
    border-radius: 10px;
    
}


.my-toys-table-th{

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 20px !important;

   


}

.my-toys-table-td{

    font-size: 16px;
    font-weight: 400;
    text-align: center;
    
    padding: 20px !important;

      
    

}

