.banner-slider-main-container{

    box-shadow: 30px 30px 30px black;
    border-bottom: 10px solid rgb(255, 255, 255);
}
.banner-slider-title-container{

    width: 30%;
    position: absolute;
    bottom: 10%;
    left: 3%;


   

}
.banner-div{
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.979)) !important;
   

    width: 100%;
    height: 100%;
    position: absolute;
   
}
.banner-title-span{
    color: rgb(126, 18, 18);
    font-size: 50px;
}
.banner-p-span{

    color: rgb(66, 160, 29);
  

    font-weight: bolder;


}
.banner-slider-img{
    width: 100%;
    height: 650px;

  
}

.banner-slider-h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bolder;
    
}

.banner-slider-p{
    color: white;

    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;

}

.banner-slider-button{

    padding: 24px;
    color: rgb(255, 255, 255);
   background-color: rgb(9, 10, 41);
   font-weight: 500;

 
   margin: 0;
   margin-top: 30px;
   border: none;
   border-radius: 10px;

   border: 1px solid white;

   padding: 15px 20px;
   
    

    

}



@media only screen and (max-width: 768px) {
    .banner-title-span{

        font-size: 30px;
    }
    .banner-slider-h2{
        font-size: 25px;
    }


    .banner-slider-p{
        font-size: 18px;
    }


    
.banner-slider-button{


   padding: 15px;
   
    

    

}



  }

@media only screen and (max-width: 380px) {
    .banner-title-span{

        font-size: 30px;
    }
    .banner-slider-h2{
        font-size: 18px;
    }


    .banner-slider-p{
        font-size: 13px;
    }

    .banner-slider-button{


        padding: 10px;

        font-weight: 400;
        font-size: 12px;
        
         
     
         
     
     }
     .banner-slider-title-container{

        width: 30%;
        position: absolute;
        bottom: 10%;
        left: 10%;
    
    
       
    
    }
     


  }
